@import '../../../../core/scss/ant.scss';

.gallery {
  min-height: 88vh;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 1rem;
  grid-auto-rows: minmax(28rem, auto);

  @include media-breakpoint-down('sm') {
    grid-auto-rows: minmax(50vw, auto);
  }
}

.gallery-image {
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-image {
  grid-column: 1/3;
  grid-row: 1/3;
  /* grid-column: 1; */
  background-color: red;

  @include media-breakpoint-down('sm') {
    grid-row: 1;
  }
}
.second-image {
  background-color: blue;
  grid-column: 3;
  grid-row: 1;
  @include media-breakpoint-down('sm') {
    grid-column: 3/5;
  }
}
.third-image {
  grid-column: 4;
  grid-row: 1;
  background-color: green;

  @include media-breakpoint-down('sm') {
    grid-column: 1/3;
    grid-row: 2;
  }
}
.fourth-image {
  background-color: purple;
  grid-column: 3/5;
  grid-row: 2/3;
}
.fifth-image {
  background-color: greenyellow;
  grid-column: 1;
  grid-row: 3;
}
.sixth-image {
  background-color: grey;
  grid-column: 2/4;
  grid-row: 3;
}
.seventh-image {
  background-color: hotpink;
  grid-column: 4;
  grid-row: 3;
}
.eighth-image {
  background-color: gold;
  grid-column: 2;
  grid-row: 5/7;
}
.ninth-image {
  background-color: firebrick;
  grid-column: 3/5;
  grid-row: 5/7;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-image:hover .image {
  opacity: 1;
}

.gallery-image:hover .middle {
  opacity: 1;
}

.image {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.45);
}

.view-picture-icon {
  font-size: 4em;
}
