<div class="top-articles feature-section__padded" fxLayout="column">
  <div
    class="position-relative"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <h1 fxFlexAlign="center" class="section-name">LO MÁS GRANDE</h1>

    <div
      class="article-container top-article-container"
      fxFlex="1 1 100%"
      fxFlexAlign="center"
      [@fadeInOut]="i === (currentIndex$ | async) ? 'visible' : 'invisible'"
      *ngFor="let article of (topArticles$ | async); let i = index"
    >
      <ant-article-summary
        fxFlexFill
        [isTopArticle]="!isMobile()"
        [article]="article"
        [isMetadataVisible]="false"
        [isCardShadowMode]="false"
        [isCreationDateVisible]="false"
      ></ant-article-summary>
    </div>
  </div>

  <dots
    [dots-count]="totalItems"
    [active-dot]="currentIndex$ | async"
    (on-click)="setIndex($event)"
  ></dots>

  <!-- VERSION 1 -->
  <!--
    <ant-article-summary @slideInRight fxFlexAlign="center" [article]="currentArticle$ | async"></ant-article-summary>
  -->
</div>
