<div class="top-articles feature-section__padded" fxLayout="column">
  <div
    class="position-relative"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <div fxFlexAlign="center">
      <h1 translate class="section-name clickable">OUTSTANDING</h1>
    </div>

    <div
      class="article-container top-article-container"
      fxFlex="1 1 100%"
      fxFlexAlign="center"
      [hidden]="i !== (currentIndex$ | async)"
      *ngFor="let article of (topArticles$ | async); let i = index"
    >
      <ant-article-summary
        fxFlexFill
        [isTopArticle]="!isMobile()"
        [article]="article"
        [isMetadataVisible]="true"
        [isCardShadowMode]="true"
        [isCreationDateVisible]="true"
      ></ant-article-summary>
    </div>
  </div>

  <dots
    [dots-count]="totalItems"
    [active-dot]="currentIndex$ | async"
    (on-click)="setIndex($event)"
  ></dots>

  <!-- VERSION 1 -->
  <!--
    <ant-article-summary @slideInRight fxFlexAlign="center" [article]="currentArticle$ | async"></ant-article-summary>
  -->
</div>
