@import '../../core/scss/ant';

.toolbar {
  z-index: 2;
}

.main-content {
  height: 100%;
}

.container__overflowed {
  overflow: auto;
}

.main-container {
  height: 100%;
}

.main-footer {
  min-height: 64px;
}
