@import '../../core/scss/ant';

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.toolbar {
  z-index: 2;
}

.main-content {
  height: 100%;
}

.container__overflowed {
  overflow: auto;
}

.main-container {
  height: 100%;
}

.main-footer {
  min-height: 64px;
}

#main-toolbar{
  color: black !important;
  background-color: white !important;
}
