<div id="article-shortcur-inner-container">
    <mat-tab-group>
        <mat-tab label="DEPORTE">
            <div class="row">
                <ant-article-summary *ngFor="let article of sportArticles | async" [article]="article" class="col-xs-12 col-md-3"></ant-article-summary>
            </div>
        </mat-tab>
        <mat-tab label="CINE">
            <div class="row">
                <ant-article-summary *ngFor="let article of cinemaArticles | async" [article]="article" class="col-xs-12 col-md-3"></ant-article-summary>
            </div>
        </mat-tab>
        <mat-tab label="LITERATURA">
            <div class="row">
                <ant-article-summary *ngFor="let article of literatureArticles | async" [article]="article" class="col-xs-12 col-md-3"></ant-article-summary>
            </div>
        </mat-tab>
        <mat-tab label="CULTURA">
            <div class="row">
                <ant-article-summary *ngFor="let article of cultureArticles | async" [article]="article" class="col-xs-12 col-md-3"></ant-article-summary>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>