@import '~bootstrap/dist/css/bootstrap.css';

.section-name {
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  cursor: pointer;
}

.article-summary-container {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.see-more-section {
  color: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  transition: all 0.2s cubic-bezier(0, 1.13, 0.88, 1.32);

  &:hover {
    text-decoration: none !important;
    transform: scale(1.2);
    color: inherit;
    text-shadow: 0px 4px 3px #00000040;
  }
}

.col-md-4 {
  max-width: fit-content;
}

.entertainment-article {
  max-width: 80%;
}
