<nav fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon></mat-icon>
    <div class="main-nav-link-container" fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
        <a class="mat-white-500-bg" mat-flat-button>EVENTOS</a>
        <a class="mat-white-500-bg" mat-flat-button>ENTRETENIMIENTOS</a>
        <a class="mat-white-500-bg" mat-flat-button>CURIOSIDADES</a>
        <a class="mat-white-500-bg" mat-flat-button>EXPERIENCIAS</a>
        <a class="mat-white-500-bg" mat-flat-button>GALERÍA</a>
    </div>
</nav>