<div id="dashboard-project" class="page-layout simple" fxLayout="row" fxFill>


    <!-- CENTER -->
    <div class="center" fxFill>

        <!-- HEADER -->
        <div class="header mat-accent-bg p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 mb-0 welcome-message" *antIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">Welcome back,
                    John!
                </span>
            </div>

            <div fxLayout="row">

                <div class="selected-project">{{selectedProject.name}}</div>

                <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu" aria-label="Select project">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #projectsMenu="matMenu">
                    <button mat-menu-item *ngFor="let project of projects" (click)="selectedProject = project">
                        <span>{{project.name}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight>

                <mat-tab label="Home">

                    <div class="widget-group p-12" fxLayout="row wrap" *antIfOnDom fxFlex="100" [@animateStagger]="{value:'50'}">

                        <!-- ARTICLE WIDGET -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                        <mat-select class="simplified font-size-16" [(ngModel)]="widgets.articlesWidget.currentRange" aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets.articlesWidget.ranges | keys" [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button antWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{widgets.articlesWidget.data.count[widgets.articlesWidget.currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets.articlesWidget.data.label}}</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">{{widgets.articlesWidget.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{widgets.articlesWidget.data.extra.count[widgets.articlesWidget.currentRange]}}</span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="ant-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                <button mat-icon-button antWidgetToggle class="ant-widget-flip-button" aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    {{widgets.articlesWidget.detail}}
                                </div>
                            </div>
                            <!-- / Back -->

                        </ant-widget>
                        <!-- / ARTICLE WIDGET -->

                        <!-- COMMENTS WIDGET -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                        <mat-select class="simplified font-size-16" [(ngModel)]="widgets.commentsWidget.currentRange" aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets.commentsWidget.ranges | keys" [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button antWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{widgets.commentsWidget.data.count[widgets.commentsWidget.currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets.commentsWidget.data.label}}</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">{{widgets.commentsWidget.data.extra.aproved.label}}:</span>
                                    <span class="h4 ml-8">{{widgets.commentsWidget.data.extra.aproved.count[widgets.commentsWidget.currentRange]}}</span>
                                    <span style="width: 20px ;"></span>
                                    <span class="h4 secondary-text text-truncate">{{widgets.commentsWidget.data.extra.notAproved.label}}:</span>
                                    <span class="h4 ml-8">{{widgets.commentsWidget.data.extra.notAproved.count[widgets.commentsWidget.currentRange]}}</span>                               
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="ant-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                <button mat-icon-button antWidgetToggle class="ant-widget-flip-button" aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    {{widgets.commentsWidget.detail}}
                                </div>
                            </div>
                            <!-- / Back -->

                        </ant-widget>
                        <!-- / COMMENTS WIDGET -->

                        <!-- WIDGET 3 -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget3.title}}</div>

                                    <button mat-icon-button antWidgetToggle class="ant-widget-flip-button" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="orange-fg font-size-72 line-height-72">
                                        {{widgets.widget3.data.count}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets.widget3.data.label}}</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">{{widgets.widget3.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{widgets.widget3.data.extra.count}}</span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="ant-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                <button mat-icon-button antWidgetToggle class="ant-widget-flip-button" aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    {{widgets.widget3.detail}}
                                </div>
                            </div>
                            <!-- / Back -->

                        </ant-widget>
                        <!-- / WIDGET 3 -->

                        <!-- WIDGET 4 -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget4.title}}</div>

                                    <button mat-icon-button antWidgetToggle class="ant-widget-flip-button" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="blue-grey-fg font-size-72 line-height-72">{{widgets.widget4.data.count}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets.widget4.data.label}}</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">{{widgets.widget4.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{widgets.widget4.data.extra.count}}</span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="ant-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                <button mat-icon-button antWidgetToggle class="ant-widget-flip-button" aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    {{widgets.widget4.detail}}
                                </div>
                            </div>
                            <!-- / Back -->

                        </ant-widget>
                        <!-- / WIDGET 4 -->

                        <!-- WIDGET 5 -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">

                                <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">

                                    <div fxFlex class="py-8 h3">{{widgets.widget5.title}}</div>

                                    <div fxFlex="0 1 auto" class="py-8" fxLayout="row">
                                        <button mat-button class="px-16" *ngFor="let range of widgets.widget5.ranges | keys" (click)="widget5.currentRange = range.key"
                                            [disabled]="widget5.currentRange == range.key">
                                            {{range.value}}
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="start end">
                                    <div class="h-420 mb-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
                                        <ngx-charts-bar-vertical-stacked *antIfOnDom [scheme]="widget5.scheme" [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
                                            [gradient]="widget5.gradient" [xAxis]="widget5.xAxis" [yAxis]="widget5.yAxis" [legend]="widget5.legend"
                                            [showXAxisLabel]="widget5.showXAxisLabel" [showYAxisLabel]="widget5.showYAxisLabel"
                                            [xAxisLabel]="widget5.xAxisLabel" [yAxisLabel]="widget5.yAxisLabel" (select)="widget5.onSelect($event)">
                                        </ngx-charts-bar-vertical-stacked>
                                    </div>

                                    <div class="mb-16" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="row" fxLayout="row wrap">

                                        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" *ngFor="let widget of widgets.widget5.supporting | keys">

                                            <div class="px-24">
                                                <div class="h4 secondary-text">{{widget.value.label}}</div>
                                                <div class="mat-display-1 m-0">
                                                    {{widget.value.count[widget5.currentRange]}}
                                                </div>
                                            </div>

                                            <div class="h-64">
                                                <ngx-charts-area-chart *antIfOnDom [results]="widget.value.chart[widget5.currentRange]" [scheme]="widget5.supporting.scheme"
                                                    [gradient]="widget5.supporting.gradient" [xAxis]="widget5.supporting.xAxis"
                                                    [yAxis]="widget5.supporting.yAxis" [legend]="widget5.supporting.legend" [showXAxisLabel]="widget5.supporting.showXAxisLabel"
                                                    [showYAxisLabel]="widget5.supporting.showYAxisLabel" [xAxisLabel]="widget5.supporting.xAxisLabel"
                                                    [yAxisLabel]="widget5.supporting.yAxisLabel" [curve]="widget5.supporting.curve">
                                                </ngx-charts-area-chart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Front -->

                        </ant-widget>
                        <!-- / WIDGET 5 -->

                        <!-- WIDGET 6 -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">

                                <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget6.title}}</div>
                                    <mat-form-field>

                                        <mat-select class="simplified" aria-label="Change range" [(ngModel)]="widget6.currentRange">
                                            <mat-option *ngFor="let range of widgets.widget6.ranges | keys" [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="h-400">
                                    <ngx-charts-pie-chart *antIfOnDom [scheme]="widget6.scheme" [results]="widgets.widget6.mainChart[widget6.currentRange]" [legend]="widget6.showLegend"
                                        [explodeSlices]="widget6.explodeSlices" [labels]="widget6.labels" [doughnut]="widget6.doughnut"
                                        [gradient]="widget6.gradient" (select)="widget6.onSelect($event)">
                                    </ngx-charts-pie-chart>
                                </div>

                                <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                                        <span class="mat-display-1 mb-0">{{widgets.widget6.footerLeft.count[widget6.currentRange]}}</span>
                                        <span class="h4">{{widgets.widget6.footerLeft.title}}</span>
                                    </div>

                                    <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                                        <span class="mat-display-1 mb-0">{{widgets.widget6.footerRight.count[widget6.currentRange]}}</span>
                                        <span class="h4">{{widgets.widget6.footerRight.title}}</span>
                                    </div>
                                </div>

                            </div>
                            <!-- / Front -->

                        </ant-widget>
                        <!-- / WIDGET 6 -->

                        <!-- WIDGET 7 -->
                        <ant-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

                            <!-- Front -->
                            <div class="ant-widget-front mat-white-bg mat-elevation-z2">

                                <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget7.title}}</div>
                                    <mat-form-field>
                                        <mat-select class="simplified" aria-label="Change range" [(ngModel)]="widget7.currentRange">

                                            <mat-option *ngFor="let range of widgets.widget7.ranges | keys" [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let event of widgets.widget7.schedule[widget7.currentRange]">
                                    <div>
                                        <div class="h3">{{event.title}}</div>
                                        <div>
                                            <span class="secondary-text">{{event.time}}</span>
                                            <span *ngIf="event.location">, {{event.location}}</span>
                                        </div>
                                    </div>

                                    <button mat-icon-button aria-label="More information">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                            </div>
                            <!-- / Front -->

                        </ant-widget>
                        <!-- / WIDGET 7 -->

                    </div>
                    <!-- / WIDGET GROUP -->


                </mat-tab>

            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->


</div>