.comment-card {
  box-shadow: 0.5px 1px 5px 1px #8e8e8ee0;
  margin-bottom: 1rem;
}

.card-content {
  padding: 3rem;
}

.comment-body {
  padding-bottom: 1.5rem;
}

.comment-action-container {
  padding: 2rem 3rem;
}
