<div id="modal-outer-container">
  <div class="modal-body">
    <div id="icon-container">
      <mat-icon svgIcon="hav-500"></mat-icon>
    </div>
    <span id="main-message"> Debe ser mayor de edad para vsitar este sitio</span>
    <span id="indication">Por favor introduzca su año de nacimiento</span>

    <div class="form-container">
      <input type="text" [formControl]="userAgeFormControl" name="userAge" id="user-age-input" class="form-control col-4"
        placeholder="{{userAgePlaceholderText}}">
      <button type="button" class="btn btn-default col-4" (click)="accept()" [disabled]="!isValidAge">{{buttonText}}</button>

    </div>
  </div>
</div>
