@import '~bootstrap/dist/css/bootstrap.css';
@import '../../../core/scss/ant.scss';

//START variables declaration
$related-articles-outer-container-bColor: #eeeeee;
$article-tag-bColor: #32a9e1;
//END variables declaration

.font-weight-700 {
  font-weight: 700;
}

#article-outer-container {
  margin-top: 50px;

  #article-title {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 4em;
    text-align: center;
  }

  #article-header {
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

    #article-main-picture {
      min-width: 100%;

      img {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    #article-info {
      padding: 0 !important;
      text-align: center;
      font-size: 1.3em;

      #article-reading-time,
      #article-writer {
        padding: 0 !important;
      }
      @include media-breakpoint-down('xs') {
        margin: auto;
        text-align: center;
      }
    }
  }

  #article-body {
    margin-bottom: 50px;
    font-size: 1.8em;
    font-weight: 400 !important;

    p {
      font-weight: 400 !important;
    }

    p::first-line {
      text-indent: 5em;
    }

    @include media-breakpoint-down('xs') {
      text-align: center;
    }

    p img {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0.2px solid black;
    }
  }

  #related-articles-outer-container {
    margin-top: 30px;
    background-color: $related-articles-outer-container-bColor;
    padding: 1rem;

    #related-articles-header {
      font-size: 3em;
      text-align: center;
      font-weight: 700;
    }

    #related-articles-cards-container {
      margin: 0 !important;
    }
  }

  #comments-outer-container {
    margin-top: 30px;

    #comments-header {
      font-size: 3em;
      text-align: center;
      font-weight: 700;
    }
  }
}

.comment-body {
  background-color: black;
}

#new-comment-outer-container {
  input,
  textarea {
    // border: 1px solid gray;
  }

  #new-comment-post-btn {
    // border: 2px solid black;
    // background-color: #62b0ff
  }
}
