#gallery-grid-container {
  width: 92%;
  margin-right: auto;
  margin-left: auto;

  .gallery-img-container {
    position: relative;

    // img {
    //   width: 100%;
    //   height: auto;
    //   display: inline-block;
    //   max-width: 100%;
    // }
  }
}

.masonry-item {
    width: 23%;
    margin: .5px;
}
