@import '../../../../core/scss/ant';

.impact-presentation {
  flex: 1 1 33.333333%;
  max-width: 33.333333%;

  @include media-breakpoint-down('sm') {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.impact-sections-portal {
  flex: 1 1 66.666667%;
  max-width: 66.666667%;

  @include media-breakpoint-down('sm') {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.image-container {
  position: relative;
  background-image: url('../../../../../assets/images/article-header.png'),
    linear-gradient(to bottom, #00000057, rgba(0, 0, 0, 0.32));
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  min-height: 70vh;
  @include media-breakpoint('xs') {
    min-height: 23vh;
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 2px 6px 3px #00000069;
  }
}

.impact-section {
  padding-top: 3rem;
}

.impact-sections {
  height: 25vw;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }

  @include media-breakpoint-down('sm') {
    height: 40vw;
    width: 40vw;
  }
}

.economic-section {
  background-color: #3db54b;
}

.political-section {
  background-color: #ed2225;
}
.social-section {
  background-color: #29aae3;
}
.historic-section {
  background-color: #fbb03d;
}

.impact-section-title {
  text-align: center;
  color: white !important;
  font-weight: 900;
}

.impact-section-body {
  @include media-breakpoint-down('sm') {
    padding: 3rem;
    padding-top: 0;
  }
  text-align: justify;
  font-size: 1.62em;
  line-height: 16px;
  font-weight: 300;
  overflow: hidden;
}
