@import '../../../../core/scss/ant';

.image-container {
  position: relative;
  background-image: url('../../../../../assets/images/article-header.png'),
    linear-gradient(to bottom, #00000057, rgba(0, 0, 0, 0.32));
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  min-height: 70vh;
  @include media-breakpoint('xs') {
    min-height: 23vh;
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 2px 6px 3px #00000069;
  }
}

.impact-section-title {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  text-align: center;
  color: #f8f9faa6;
  font-weight: 900;
  mix-blend-mode: screen;
}
