<section fxLayout="column">

    <h1 fxFlexAlign="center" class="section-name" [routerLink]="'/section/impacto'">IMPACT</h1>

    <div fxLayout="row wrap">
        <a class="image-container col-3" ngClass.xs="col-6">
            <h1 class="impact-section-title">SOCIAL</h1>
        </a>
        <a class="image-container col-3" ngClass.xs="col-6">
            <h1 class="impact-section-title">CULTURAL</h1>
        </a>
        <a class="image-container col-3" ngClass.xs="col-6">
            <h1 class="impact-section-title">ECONOMICO</h1>
        </a>
        <a class="image-container col-3" ngClass.xs="col-6">
            <h1 class="impact-section-title">HISTORICO</h1>
        </a>
    </div>

</section>