@import '../../../../core/scss/ant.scss';
.arrow {
  position: absolute;
  top: 15%;
  display: flex;
}

.arrow-icon {
  @include media-breakpoint('xs') {
    font-size: 1.2em;
    padding: 0.5rem;
  }
  width: auto;
  height: auto;
  font-size: 3em;
  padding: 1rem;
}

.previous-arrow {
  left: 0%;
}

.next-arrow {
  right: 0%;
}

.feature-section__positioned {
  position: relative;
}

.feature-section__sized {
  min-height: 50vh;
}

.experiences-section-name {
  @include media-breakpoint('xs') {
    font-size: 3em;
    padding-bottom: 0;
  }
  font-size: 7em;
  font-weight: 800;
  padding-bottom: 44px;

  // line-height: 1;
}

.experiences-poster {
  @include media-breakpoint('xs') {
    min-width: 33%;
  }
  min-width: 20%;
}

.experiences-poster-title {
  @include media-breakpoint('xs') {
    font-size: 2em;
    padding: 1rem;
  }
  font-size: 3.5em;
  padding: 2rem;
}

.cards-container {
  position: relative;
  // flex-grow: 1;
}
