<div
  class="feature-section__padded feature-section__positioned"
  [ngClass]="{ 'feature-section__sized': isMobile() }"
  fxLayout="column"
>
  <h1
    fxFlexAlign="center"
    class="section-name"
    [routerLink]="['/section/curiosidades']"
  >
    EXPERIENCIAS
  </h1>

  <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="stretch stretch">
    <!-- POSTER -->
    <div
      class="mat-accent-500-bg experiences-poster"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h1 class="experiences-poster-title section-name">QUE</h1>
      <h1 class="experiences-poster-title section-name">HACER</h1>
    </div>

    <!-- CARDS -->
    <div
      *ngIf="(experiences$ | async) as experiences"
      fxLayout="row"
      class="cards-container"
    >
      <ant-article-summary
        [isExperienceArticle]="!isMobile()"
        [isMetadataVisible]="true"
        [article]="experiences[current]"
        [isCreationDateVisible]="false"
        [isCardShadowMode]="false"
        [isAuthorVisible]="false"
      >
      </ant-article-summary>

      <!--
        <div *ngFor="let curiosity of (experiences$ | async); let index = index">
          <ant-article-summary
            [isExperienceArticle]="true"
            *ngIf="isIndexVisible(index)"
            [article]="curiosity"
          >
          </ant-article-summary>
        </div>
      -->

      <button
        (click)="movePrevious()"
        class="mat-accent-500-bg arrow previous-arrow"
      >
        <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
      </button>
      <button (click)="moveNext()" class="mat-accent-500-bg arrow next-arrow">
        <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <a
    class="see-more-section"
    [routerLink]="'/section/curiosidades'"
    fxFlexAlign="center"
    >See More</a
  >
</div>
