@import '../../../../core/scss/ant';

.main-input__sized {
  width: 60%;
}

.article-form-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('xs') {
    width: 500px;
  }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;

    .mat-toolbar {
      min-height: initial;

      mat-icon {
        color: white;
      }

      .article-title {
        max-width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .toolbar-bottom {
      height: auto;
    }

    .article-field__size-md {
      max-width: 10rem;
    }

    .article-field__size-lg {
      max-width: 15rem;
    }

    .article-field__size-xl {
      max-width: 20rem;
    }

    .mat-slide-toggle-content {
      white-space: initial;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  .unmaterial-label {
    font: 500 13px/20px Roboto, 'Helvetica Neue', sans-serif;
  }
}
