@import '../../../core/scss/ant';

.articles-home-padded {
  padding-bottom: 7rem;

  .header {
    .search-input-wrapper {
      max-width: 480px;
    }

    .mat-mini-fab:hover {
      box-shadow: 0 3px 5px -1px rgba(224, 14, 14, 0.5),
        0 6px 10px 0 rgba(224, 14, 14, 0.2), 0 1px 18px 0 rgba(224, 14, 14, 0.3);
    }

    @include media-breakpoint-down(xs) {
      height: 176px !important;
      min-height: 176px !important;
      max-height: 176px !important;
    }
  }

  .top-bg {
    @include media-breakpoint-down(xs) {
      height: 240px;
    }
  }

  .articles-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;

    .mat-header-row {
      min-height: 64px;
    }

    .preview-image {
      height: 5rem;
      width: auto;
    }

    .article {
      position: relative;
      cursor: pointer;
      height: 84px;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mat-cell:first-of-type {
      padding-left: 12px;
    }

    .mat-header-cell {
      display: flex;
      justify-content: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-image {
      flex: 0 1 84px;

      .article-image {
        width: 52px;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .quantity-indicator {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;

      & + span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .active-icon {
      border-radius: 50%;
    }
  }

  #search {
    caret-color: white !important;
  }
}

// .mat-form-field-underline {
//   background-color: white !important;
// }
