<main fxLayout="column">
  <hav-principal-slider></hav-principal-slider>

  <section class="main-section">
    <hav-outstanding-general-articles
      [carouselTime]="5000"
      [totalItems]="1"
      class="pt-40 "
    ></hav-outstanding-general-articles>

    <hav-entertainment-preview class="pt-40 "></hav-entertainment-preview>

    <hav-outstanding-curiosities
      [totalItems]="1"
      class="pt-40 "
    ></hav-outstanding-curiosities>

    <hav-outstanding-experiences></hav-outstanding-experiences>

    <hav-impact-portal class="pt-40"></hav-impact-portal>

    <hav-outstanding-gallery></hav-outstanding-gallery>
  </section>
</main>
