$headers-color: #4c4c4c;

.section-name {
  font-size: 6em;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  cursor: pointer;
  font-weight: 700;

  @include media-breakpoint-down('sm') {
    font-size: 4em;
  }
}

.mobile-menu {
  .mat-dialog-container {
    background-color: #3c425257;
    color: white;
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4 {
  color: $headers-color !important;
}

p {
  text-align: left;
  // font-size: 1.62em;
  // line-height: 16px;
  font-weight: 400;
}

.clickable {
  cursor: pointer !important;
}
