@import '../../../../core/scss/ant';

.comment-analyzer-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('xs') {
    width: 80%;
  }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;

    .mat-toolbar {
      min-height: initial;

      mat-icon {
        color: white;
      }
    }

    .toolbar-bottom {
      height: auto;
    }

    .mat-slide-toggle-content {
      white-space: initial;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }
}
