@import '~bootstrap/dist/css/bootstrap.css';
@import '../../../../../../../libs/shared/src/lib/scss/ant.scss';

$tags-container-color: #2aaae2;

.second-level {
  overflow: hidden;
}

.no-articles-message {
  text-align: center;
}

.main-article-summary-container {
  padding-bottom: 6rem;
}

#secondary-header {
  margin-top: 5.5rem;

  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-end;

  @include media-breakpoint-down('sm') {
    margin-bottom: 0;
  }

  #section-name-container {
    align-self: center;

    .section-name {
      font-family: 'Roboto' !important;
      text-transform: uppercase !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;

      font-size: 6em !important;
      text-align: center !important;
      padding-top: .5rem !important;
      padding: 0;
      color: white !important;
      font-weight: normal !important;
      @include media-breakpoint-down('sm') {
        font-size: 4em !important;
      }
    }

    @include media-breakpoint-down('sm') {
      align-self: center;

      .section-name {
        padding-right: 0rem;
        padding: 0;
        font-size: 4.7em;
        word-break: break-all;
      }
    }
  }

  #tags-outer-container {
    max-height: 214px;
    width: 48.5% !important;
    max-width: 48.5% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: flex-start;
    margin: auto;

    #tags-title {
      color: white !important;
      font-weight: 700;
      font-size: 3.4em;
      text-transform: uppercase;
      max-width: 340px;
    }

    @include media-breakpoint-down('sm') {
      max-width: 100% !important;
      width: 92% !important;
    }
  }
}

#more-articles-btn-container {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin-top: 1%;
  margin-bottom: 3%;
  button {
    background-color: $tags-container-color;
    margin-left: 48%;
    margin-right: 50%;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
  }
}

.second-most-important {
  margin: 1% 5% !important;

  .article-summary-img-outer-container{
    padding-top: 100%;
  }

  ant-article-summary{
    padding-top: 1% !important;
  }
}

.extra-articles {
  padding: 0 3%;

  ant-article-summary {
    margin-bottom: 15px !important; 
    .article-summary-body{
      max-height: 200px !important;
      overflow: hidden;
    }
  }
}

.hide-more-btn {
  display: none;
}

#marketing-container {
  margin-bottom: 30px;
}

.ng-select.custom {
  background-color: #fff !important;
  width: fit-content;
  max-width: 90%;

  padding-bottom: 0 !important;
  min-height: auto !important;
  margin: auto !important;

  .ng-select-container {
    min-height: auto !important;
  }

  .ng-arrow-wrapper {
    color: #2aaae2 !important;

    .ng-arrow {
      color: #2aaae2 !important;
    }
  }

  .ng-option{
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .ng-dropdown-panel{
    margin-top: 1.33em;
  }

  .ng-value {
    display: none;
  }
}

#tags-container{
  margin-bottom: 43px;
  margin-left: 5em;
  margin-top: 2em;
  #article-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
