@import '~bootstrap/dist/css/bootstrap.css';
@import '../../../../../../../libs/shared/src/lib/scss/ant.scss';

$tags-container-color: #2aaae2;

.second-level {
  overflow: hidden;
}

.no-articles-message {
  text-align: center;
}

.main-article-summary-container {
  padding-bottom: 6rem;

  .article-summary-img-outer-container {
    @include media-breakpoint-up('sm') {
      max-width: 48.5%;
    }
  }

  .main-article-summary-content {
    @include media-breakpoint-up('sm') {
      padding-left: 4rem !important;
      padding-right: 1rem !important;
    }
  }
}

#secondary-header {
  margin-top: 5.5rem;

  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-end;

  @include media-breakpoint-down('sm') {
    margin-bottom: 0;
  }

  #tags-outer-container {
    max-height: 214px;
    width: 48.5% !important;
    max-width: 48.5% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: flex-start;
    margin: auto;

    #tags-title {
      color: white !important;
      font-weight: 700;
      font-size: 3.4em;
      text-transform: uppercase;
      max-width: 340px;
    }

    @include media-breakpoint-down('sm') {
      max-width: 100% !important;
      width: 92% !important;
    }

    #section-name-container {
      align-self: center;

      .section-name {
        font-family: 'Roboto' !important;
        text-transform: uppercase !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;

        font-size: 6em !important;
        text-align: center !important;
        padding-top: .5rem !important;
        padding: 0;
        color: white !important;
        font-weight: normal !important;

        @include media-breakpoint-down('sm') {
          font-size: 4em !important;
        }
      }

      @include media-breakpoint-down('sm') {
        align-self: center;

        .section-name {
          padding-right: 0rem;
          padding: 0;
          font-size: 4.7em;
          word-break: break-all;
        }
      }
    }

    #selectors-container {
      margin: auto;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .ng-select.tag-selector {
        .ng-value {
          display: none !important;
        }
      }

      .ng-select.custom {
        background-color: #fff !important;
        width: 30%;
        padding-bottom: 0 !important;

        .ng-has-value .ng-placeholder {
          transform: none !important;
        }

        .ng-clear-wrapper {
          z-index: 100000;
        }

        .ng-select-container {
          min-height: 30px !important;
          max-height: 30px !important;

          .ng-placeholder {
            font-size: 1.2rem;
            top: 7px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
          }
        }

        .ng-arrow-wrapper {
          color: #2aaae2 !important;

          .ng-arrow {
            color: #2aaae2 !important;
          }
        }

        .ng-option {
          font-weight: 600;
          font-size: 1.2em;
          text-align: center;
          letter-spacing: 0.05em;
        }

        .ng-dropdown-panel {
          margin-top: 1.33em;
        }

        .ng-value {
          font-weight: 500 !important;
          font-size: 1.2rem !important;
          text-align: center !important;
          width: 100% !important;
          margin-top: -5px;
        }

      }
    }
  }

  #tags-outer-container {
    max-height: 214px;
    width: 48.5% !important;
    max-width: 48.5% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: flex-start;
    margin: auto;

    #tags-title {
      color: white !important;
      font-weight: 700;
      font-size: 3.4em;
      text-transform: uppercase;
      max-width: 340px;
    }

    @include media-breakpoint-down('sm') {
      max-width: 100% !important;
      width: 92% !important;
    }
  }
}

#more-articles-btn-container {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin-top: 3.5%;
  margin-bottom: 3%;

  button {
    background-color: $tags-container-color;
    margin-left: 48%;
    margin-right: 50%;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
  }
}

.second-most-important {
  margin: 1% 0 !important;
  justify-content: center;

  ant-article-summary:first-child {
    margin-right: 6%;
  }

  .article-summary-img-outer-container {
    // padding-top: 100%;
  }

  ant-article-summary {
    padding-top: 1% !important;
    width: 37%;
    padding: 0;
    max-width: 37%;
    min-width: 37%;
  }

  .article-summary-body {
    min-height: 16em !important;
    max-height: 16em !important;
    overflow: hidden;
    line-height: 1em;
    text-overflow: ellipsis;
    word-break: break-word;
    display: block;

    p {
      margin-bottom: .03em !important;
      text-align: justify;
    }
  }
}

.extra-articles {
  // padding: 0 3%;
  justify-content: center;

 

  ant-article-summary {
    margin-bottom: 15px !important;
    margin-right: 2.7%;
    width: 18%;
    max-width: 18%;
    min-width: 18%;
    padding: 0;
    &:nth-child(4n) {
      margin-right: 0 !important;
    }

    .article-summary-body {
      min-height: 10em !important;
      max-height: 10em !important;
      overflow: hidden;
      line-height: 1em;
      text-overflow: ellipsis;
      word-break: break-word;
      display: block;

      p {
        margin-bottom: .1em !important;
        text-align: justify;
      }
    }
  }
}

.hide-more-btn {
  display: none;
}

#marketing-container {
  margin-bottom: 30px;
}



#tags-container {
  margin-bottom: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  #article-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.sep-5 {
  min-width: 4%;
  display: block;
}
