<div fxLayout="column" fxLayoutAlign="start start" class="second-level">
  <!-- HEADER -->
  <div id="secondary-header" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column">
    <!-- TITLE -->

    <!-- /TITLE -->
    <div id="tags-outer-container" class="mat-accent-500-bg">
      <div id="section-name-container">
        <h1 class="section-name" translate>{{ sectionName }}</h1>
      </div>

      <!-- <h3 translate id="tags-title">TAG_SELECTOR</h3> -->
      <!-- TODO: translate this -->
      <div style="min-width: 100%; margin: auto;">
        <ng-select class="custom" [items]="globalTags$ | async" [hideSelected]="true" bindLabel="name" [closeOnSelect]="false"
          [multiple]="true" bindValue="id" [searchFn]="tagSelectFilter" (change)="tagSelectionChanged($event)"
          [(ngModel)]="selectedItems" placeholder="{{TAG_SELECTOR}}" style="float: left !important; margin-left: 4em !important; margin-bottom: 1em !important;"></ng-select>

          <ng-select class="custom" [items]="orderByDateItems" [hideSelected]="true" bindLabel="name" [closeOnSelect]="true"
          [multiple]="false" bindValue="id" [searchFn]="dateSelectFilter" (change)="dateSelectionChanged($event)"
          [(ngModel)]="selectedDateOrder" placeholder="{{DATE_SELECTOR}}" style="float: right !important; margin-right: 4em !important;"></ng-select>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <div id="tags-container" [innerHtml]="tagsData"></div>

  <article fxFlexFill>
    <!-- MAIN ARTICLE -->
    <section class="main-article-summary-container" *ngIf="mostImportantArticle; else: noItemsTemplate">
      <ant-article-summary [isCuriosityHomeArticle]="!isMobile()" [article]="mostImportantArticle" [isCardShadowMode]="false"></ant-article-summary>
    </section>
    <!-- / MAIN ARTICLE -->

    <ng-template #noItemsTemplate>
      <h1 class="no-articles-message" translate>NO_ITEMS</h1>
    </ng-template>

    <!-- MARKETING -->
    <section id="marketing-container" class="col-12" *ngIf="marketingImages && marketingImages.length > 0">
      <slideshow [minHeight]="'300px'" [autoPlay]="true" [imageUrls]="imageUrls" [lazyLoad]="imageUrls?.length > 1"
        [autoPlayWaitForLazyLoad]="true" [showDots]="true" [dotColor]="'#32a9e1'" [showCaptions]="false" [showArrows]="false">
      </slideshow>
    </section>
    <!-- / MARKETING -->

    <!-- SECOND MOST IMPORTANT -->
    <section class="second-most-important" fxLayout="row" *ngIf="
        !isMobile() &&
        mostImportantArticle &&
        secondMostImportantArticles?.length > 0
      ">
      <ant-article-summary *ngFor="let article of secondMostImportantArticles" [article]="article"
        [isCreationDateVisible]="false" class="col-md-6 col-xs-12"></ant-article-summary>
    </section>
    <!-- / SECOND MOST IMPORTANT -->

    <!-- EXTRA ARTICLES -->
    <section class="extra-articles" fxLayout="row wrap" *ngIf="
        !isMobile() && mostImportantArticle && articlesToRender?.length > 0
      ">
      <ant-article-summary *ngFor="let article of articlesToRender" [article]="article" [isCreationDateVisible]="false"
        class="col-md-3 col-sm-4 col-xs-12"></ant-article-summary>
    </section>
    <!-- EXTRA ARTICLES -->

    <!-- EXTRA ARTICLES MOBILE -->
    <ant-experience-article-card *ngIf="isMobile() && (articlesMobile$ | async)?.length > 0" [articles$]="articlesMobile$.asObservable()"
      [totalItems]="amountOfArticles" [isMobile]="true"></ant-experience-article-card>
    <!-- / EXTRA ARTICLES MOBILE -->
  </article>

  <div *ngIf="!isMobile()" id="more-articles-btn-container" [ngClass]="{ 'hide-more-btn': isEndOfPage }">
    <button class="btn" (click)="loadMoreArticles()">
      <span translate>SEE_MORE</span>
    </button>
  </div>

  <hav-outstanding-experiences [isViewMoreVisible]="false"></hav-outstanding-experiences>
</div>
