<div fxLayout="column" fxLayoutAlign="start start">
  <h1 class="section-name">{{sectionName}}</h1>

  <div style="width: 100%">
    <ng-select [items]="globalTags$ | async" [hideSelected]="true" bindLabel='name' [closeOnSelect]="false" [multiple]="true"
      bindValue="id" [placeholder]="'Filter by Tags'" [searchFn]="tagSelectFilter" (change)="tagSelectionChanged($event)"
      [(ngModel)]="selectedItems"></ng-select>
  </div>

  <div fxFlexFill class="row">
    <ant-article-summary *ngFor="let article of articles$ | async" [article]="article" class="col-md-3 col-xs-12"></ant-article-summary>
  </div>

</div>