@import '../../../../core/scss/ant.scss';

.curiosity-section {
  @include media-breakpoint-down('xs') {
    margin-top: 6rem;
  }
}

.feature-section__positioned {
  position: relative;
}

.curiosity-section-name {
  @include media-breakpoint('xs') {
    font-size: 3em;
    padding-bottom: 0;
  }
  padding-bottom: 44px;
  font-size: 7em;
  font-weight: 800;
  // line-height: 1;
}
