<div
  class="feature-section__padded feature-section__positioned curiosity-section"
  fxLayout="column"
>
  <div fxFlexAlign="center" [routerLink]="['/section/curiosidades']">
    <h1 translate class="section-name clickable">CURIOSITIES</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div
      [@fadeInOut]="index === current ? 'visible' : 'invisible'"
      *ngFor="let curiosity of curiosities; let index = index"
    >
      <ant-article-summary
        [isMetadataVisible]="true"
        [isCardShadowMode]="false"
        [article]="curiosity"
        [isCuriosityHomeArticle]="!isMobile()"
        [isCreationDateVisible]="false"
      >
      </ant-article-summary>
    </div>
  </div>

  <!--
    <button (click)="movePrevious()" class="arrow previous-arrow" mat-icon-button>
      <mat-icon [svgIcon]="'arrow'"></mat-icon>
    </button>
    <button (click)="moveNext()" class="arrow next-arrow" mat-icon-button>
      <mat-icon [svgIcon]="'arrow'"></mat-icon>
    </button>
  -->

  <a
    translate
    class="see-more-section"
    [routerLink]="'/section/curiosidades'"
    fxFlexAlign="center"
    >SEE_MORE</a
  >
</div>
