.arrow {
  position: absolute;
  top: 50%;
  height: 5rem;
  width: 5rem;
}

.previous-arrow {
  left: 10%;
  transform: rotate(180deg);
}

.next-arrow {
  right: 10%;
}

.feature-section__positioned {
  position: relative;
}

